{{> adminmenu subtitle="Admin Page"}}
<h1 class="uk-heading-divider uk-width-2-3">LIST OF CURRENT USERS</h1>
{{#each users}}
    <div class="uk-card uk-card-default uk-card-body uk-margin uk-width-2-3">
        <div class="uk-flex uk-child-width-expand">
            <div class="uk-width-expand">
                <a href="/adminplaces/{{_id}}">{{name}}</a>
                </div>
            <div class="uk-width-auto">
                    <a href="/deleteacc/{{_id}}" style="margin:0" class ="uk-align-center">
                    <i class="fas fa-trash-alt" style="color:blue" title="Delete" pos="bottom" uk-tooltip></i>
                    </a> 
            </div>
        </div>           
        <div class="uk-flex uk-child-width-expand">
                <div class="uk-width-expand">
                    {{email}}
                </div>
                <div class="uk-width-auto">
                Places listed: {{placeNumber}}
                </div>
        </div>
    </div>
{{/each}}