{{> mainmenu subtitle="Place details"}}
<div class="uk-card uk-margin uk-flex">
    <div class="uk-width-auto">    
    <img src="{{place.image}}" width="400">
         <div class="uk-card uk-card-default uk-card-body uk-margin uk-padding-small">
                        {{#if place.lat}}
                        {{#if place.long}}   
                        <div class="uk-flex">
                        <div class="uk-width-auto uk-card">
                        <font size="+5">{{place.temp}} °C </font>
                        </div>
                        <div class="uk-width-expand uk-text-right">
                            <font size="-1">Feels Like: {{place.feelsLike}} °C  <br>
                            {{place.clouds}} <br>
                            Wind Speed: {{place.windSpeed}} m/s <br>
                            Humidity: {{place.humidity}} % </font><br>
                        </div>
                        </div>
                        {{/if}}
                        {{/if}}         
         </div>  
    </div>
<div class="uk-width-auto">
        <iframe src="/map/{{place._id}}" width="820" height="420"></iframe>
</div>
    </div>
        <div class="uk-card uk-card-default uk-card-body uk-margin uk-width-expand">
            <h3>{{place.name}}</h3> 
            <p>{{place.description}}</p>
        </div>
        {{#if social}}
<div class="uk-flex">
        <div class="uk-width-1-4 uk-card uk-card-default uk-card-body uk-margin uk-padding-small"
        style="height: 230px">
            <h3 style="margin : 0">Rating</h3>
            {{#if place.rating}}
            <p style="margin : 0"><font size="+5">{{place.rating}}</font> <font size="+2"> / 5.0</font></p>
            {{/if}}
            {{#unless place.rating}}
            <p>No Ratings yet</p>
            {{/unless}}
            <p style="margin : 0"><font size="-2">No. of Ratings: {{place.numberOfRatings}}</font></p>
            <form action="/rating/{{place._id}}" method="POST">
                <label class="uk-form-label">Enter rating</label>
                <input class="uk-input uk-width-1-3"  type="number" name="rating" min="0" max="5">
                <button class="uk-button uk-button-primary uk-margin">OK</button> 
            </form>
        </div>
        <div class="uk-width-3-4 uk-card uk-card-default uk-card-body uk-margin-left uk-padding-small" 
        style="overflow-y:scroll; height: 300px">
            <h3>Reviews
                <a href="/writereview/{{place._id}}">
                <button class= "uk-align-right uk-button uk-button-primary uk-margin">SUBMIT REVIEW</button>
                </a>
            </h3> 
            {{#if reviews}}    
                {{#each reviews}}
                <br>
            <div class="uk-card uk-flex">
              <div class="uk-width-auto">
                    <b>
                    {{username}}
                    {{dateAndTime}}
                    </b>
              </div>
                <div class="uk-width-expand"></div>
                {{#ifMadeByYou userId ../user._id }}
                <div>
                    <a href="/showreview/{{_id}}" style="margin:0" class ="uk-align-center">
                        <i class="fas fa-pen" style="color:red; margin:5px;" title="Edit" pos="bottom" uk-tooltip></i>
                    </a> 
                </div>           
                <div>
                    <a href="/deletereview/{{_id}}" style="margin:0" class ="uk-align-center">
                        <i class="fas fa-trash-alt" style="color:blue; margin:5px;" title="Delete" pos="bottom" uk-tooltip></i>
                    </a> 
                </div>
                {{/ifMadeByYou}}
            </div>                  
                <div class="uk-card uk-text-break">
                    {{review}}
                </div> 
                <br> 
                {{/each}}
            
            {{/if}}
            {{#unless reviews}}
            <p>No Reviews yet</p>
            {{/unless}}
        </div>
</div>
<div class="uk-card uk-card-default uk-card-body uk-margin uk-padding-small">
        <h3>Comments</h3>
        <div class= "uk-flex">
            <div class="uk-width-1-4"></div>
            <div class="uk-width-expand">
                <form action="/comment/{{place._id}}" method="POST">
                <textarea class="uk-textarea" type="text" rows="3" name="comment" placeholder="Add Comment.."></textarea>
                <button class="uk-button uk-button-primary uk-margin uk-align-right">OK</button> 
                </form>
            </div>
        </div>
        {{#if comments}}
        {{#each comments}}
        <div class="uk-card uk-card-body uk-background-muted uk-margin uk-text-break">
            <div class="uk-flex">
              <div class="uk-width-auto">
                    <b>
                    {{username}}
                    {{dateAndTime}}
                    </b>
              </div>
                <div class="uk-width-expand"></div>
                     <a href="/reply/{{_id}}" style="margin:0" class ="uk-align-center">
                        <i class="fas fa-comment" style="color:red; margin:5px;" title="Reply" pos="bottom" uk-tooltip></i>
                    </a>                
                {{#ifMadeByYou userId ../user._id }}
                <div>
                    <a href="/showcomment/{{_id}}" style="margin:0" class ="uk-align-center">
                        <i class="fas fa-pen" style="color:green; margin:5px;" title="Edit" pos="bottom" uk-tooltip></i>
                    </a> 
                </div>           
                <div>
                    <a href="/deletecomment/{{_id}}" style="margin:0" class ="uk-align-center">
                        <i class="fas fa-trash-alt" style="color:blue; margin:5px;" title="Delete" pos="bottom" uk-tooltip></i>
                    </a> 
                </div>
                {{/ifMadeByYou}}
            </div>  
        {{comment}}
        {{#each replies}}
        <div class="uk-flex">
            <div class="uk-width-1-4"></div>
             <div class="uk-card uk-margin uk-width-expand">
                <div class="uk-flex">
                <div class-"wk-width-auto">
                    <b>     
                    {{this.username}}
                    {{this.dateAndTime}}            
                    </b>
                </div>
                <div class="uk-width-expand"></div>
                         <a href="/reply2reply/{{_id}}" style="margin:0" class ="uk-align-center">
                            <i class="fas fa-comment" style="color:red; margin:5px;" title="Reply" pos="bottom" uk-tooltip></i>
                        </a>                
                    {{#ifMadeByYou userId ../../user._id }}
                    <div>
                        <a href="/showreply/{{_id}}" style="margin:0" class ="uk-align-center">
                            <i class="fas fa-pen" style="color:green; margin:5px;" title="Edit" pos="bottom" uk-tooltip></i>
                        </a> 
                    </div>           
                    <div>
                        <a href="/deletereply/{{_id}}" style="margin:0" class ="uk-align-center">
                            <i class="fas fa-trash-alt" style="color:blue; margin:5px;" title="Delete" pos="bottom" uk-tooltip></i>
                        </a> 
                    </div>
                    {{/ifMadeByYou}}
                </div>
            {{this.reply}}
            </div> 
        </div>
        {{/each}}
        </div>
        {{/each}}
        {{/if}}
        {{#unless comments}}
        <div class="uk-card uk-text-center">No comments yet</div>
        {{/unless}}
</div>
    {{/if}}
</div>