{{> mainmenu subtitle="Your list of places"}}
{{#each places}}
<div class="uk-child-width-expand@m uk-card uk-card-default uk-margin" uk-grid>
        <div class="uk-card-body uk-flex">
            <div class="uk-flex-left uk-width-1-3"> 
                <img src="{{ image }}">
            </div>
            <div class="uk-padding uk-width-2-3">
                <h3 class="uk-card-title">{{name}}</h3>
                <p>{{description}} </p>
            </div>
            <div>
                <a href="/showplace/{{_id}}" style="margin:0" class ="uk-align-right">
                    <i class="fas fa-pen" style="color:red" title="Edit" pos="bottom" uk-tooltip></i>
                </a>            
                <a href="/deleteplace/{{_id}}" style="margin:0" class ="uk-align-right">
                    <i class="fas fa-trash-alt" style="color:blue" title="Delete" pos="bottom" uk-tooltip></i>
                </a> 
            </div>           
        </div>  
</div>
{{/each}}  